<h1>Add Book</h1>
<div class="row justify-content-centre mt-5"
    style="justify-content: center; font-family: Roboto, Helvetica Neue, sans-serif;">
    <div class="col-md-10">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" formControlName="title" required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" formControlName="author" required>
            </div>
            <div class="form-group">
                <label for="title">ImageUrl</label>
                <input type="text" class="form-control" formControlName="imageurl" required>
            </div>
            <div class="form-group">
                <label for="title">Price</label>
                <input type="text" class="form-control" formControlName="price" required>
            </div>
            <div class="form-group">
                <label class="featured">Featured</label><br>
                <input type="checkbox" id="featured" formControlName="featured" value="featured">
                <span class="checkmark"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                    style="background: #c83576; border-color: #c83576;">SUBMIT</button>
            </div>
        </form>
    </div>
</div>
